<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/src/Space.js"></script>
  <script type="text/javascript" src="js/src/SpaceListing.js"></script>
  <title>Spaces</title>
</head>
<body>
  
  Filter by date:

  <input type="text" id="date_from" name="datepicker" placeholder="Available from">
  <input type="text" id="date_to" name="datepicker" placeholder="Available to">
  <button id="filter">Filter</button>


  
  <div id="space_listing">

  </div>

  
</body>
</html>