

<div class="description">

  <p>
  <h1> Tell us about your space... </h1>
  </p>

 <form action="/user/<%= @user.id %>/space/new" method="post">
    <div class="form-group">
      <label for="exampleInputSpaceName" class="text-white bg-dark">Name
      </label>
      <input type="name" class="form-control" id="exampleInputName" 
        placeholder="Space name">
    </div>
    <div class="form-group">
      <label for="exampleInputDescription" class="text-white bg-dark">Description</label>
      <input type="description" class="form-control" id="exampleInputDescription" 
        placeholder="Description">
    </div>
    <div class="form-group">
      <label for="exampleInputPrice" class="text-white bg-dark">Price £</label>
      <input type="price" class="form-control" id="exampleInputPrice" placeholder="Price">
    </div>
    
<div class="input-group input-daterange">
    <input type="date" name="available_from" class="form-control" value="2019-07-01">
    <div class="input-group-addon">to</div>
    <input type="date" name="available_to"  class="form-control" value="2019-07-31">
</div>

<br>
<br>
<input type="submit" class="btn btn-danger" class="btn btn-danger" role="button" value="Submit" />

  </form>
</div>
