<form action="/user/<%= @user.id %>/space/new" method="post">
<input type="text" name="name" placeholder="Space name">
<input type="text" name="description" placeholder="Description">
<input type="number" name="price" placeholder="Price per night">
<input type="date" name="available_from" placeholder="Available from">
<input type="date" name="available_to" palceholder="Available to">
<input type="submit" value="Submit">

</form>