@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	background: #666;
}


.navbar {
	background: #ff5960;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}


.header {
	background-image: url('/images/header-background.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
	color: #fff
}


.description h1 {
	color: #ff5960;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #FF5960;
	background: #FF5960;
	border-radius: 10;
	color: #fff;
}

.description button:hover {
	border: 2px solid #fff;
	background: #fff;
	color: #000;
}

.space {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.space h1 {
	color: #ff5960;
}

.space p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.space button {
	border: 1px solid #FF5960;
	background: #FF5960;
	border-radius: 10;
	color: #fff;
}

.space button:hover {
	border: 2px solid #fff;
	background: #fff;
	color: #000;
}


.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: ##FF5960;
	border: 1px solid ##FF5960;
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}



.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}



@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}

	.description h1 {
		font-size: 2em;
	}

	.description p {
		font-size: 1.2rem;
	}

	.features {
		margin: 0;
	}

}


section {
    position: relative;
    background-color: transparent !important;
}

section .img {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    min-height: 768px;
    width: 100%;
    opacity: 0.45;
    background-image: url("http://i.imgur.com/eFMDsVA.jpg");
    z-index: -1;
}

section .container {
    background-color: transparent;
}

section .container .row {
    padding: 1.5em;
}
.jumbotron {
		 background-color: gray}
		 

.transbox {
	width: 600px;
  height: 800px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 20px 20px;
	overflow-y: scroll;
}

/* .house {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
} */
