<div class="description">

  <p>
    <h1>Sign up to Makers BnB</h1>
  </p>

  <form action="/users" method="post">
    <div class="form-group">
      <label for="exampleInputName1" class="text-white bg-dark">Name
      </label>
      <input type="name" class="form-control" id="exampleInputName" name="name" aria-describedby="nameHelp"
        placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-white bg-dark">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="emailaddress" aria-describedby="emailHelp"
        placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="text-white bg-dark">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>

    <input type="submit" value="Sign Up" class="btn btn-danger" role="button">Sign Up</a>
  </form>
</div>