<h1> Welcome to Makers BnB </h1>

<h2> New here? </h2>

<form action="/user/new" method="get">
  <input type="submit" value="sign up"/>
</form>

<h2> Old hand... </h2>

<form action="/user/login" method="get">
  <input type="submit" value="log in"/>
</form>
