  <div class="description">
  
  <p>
  <h1>Welcome to Makers BnB</h1>
  </p>


  <a href="/user/new" class="btn btn-danger btn-lg" role="button">Signup</a>
  <br>
  <br>
  <a href="/user/login" class="btn btn-danger btn-lg" role="button">Login</a>

  </div>

  <div class="container features">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Sweden</h3>
        <img src="images/stockholm.jpg" class="img-fluid">
        <p>Sweden
        
        Whether you enjoy a stylish city break or exploring dramatic natural landscapes Sweden has got you covered. Make your
        trip even more magical with a visit to the Northern Lights.</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Hong Kong</h3>
        <img src="images/hongkong.jpg" class="img-fluid">
        <p>Want to wake up to one of the world's most iconic skylines? Visit one of our many spaces in Hong Kong and experience the
        flourishing retail scene and vibrant culture for yourself..</p>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Qatar</h3>
        <img src="images/doha.jpg" class="img-fluid">
        <p>Explore a land which is steeped in tradition. You can learn about the ancient pursuit of falconry and watch camels race
        across the desert, then finish your day with a trip to the peerless museum of Islamic Art.</p>
      </div>

    </div>
  </div>