<h1> Log in to MakersBnB </h1>

<form action="/user/login" method="post">
  <input type="email" name="emailaddress" />
  <input type="password" name="password" />
  <input type="submit" value="log in" />
</form>
