<h1> Log in to MakersBnB </h1>

<form action="/user/login" method="post">
  <h2> Email: </h2>
  <input type="email" name="emailaddress"  placeholder="example@hotmail.com"/>
  <h2> Password: </h2>
  <input type="password" name="password" />
  <input type="submit" value="log in" />
</form>
